body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
.section-head{
    background-image: linear-gradient(to bottom, rgba(18, 18, 18, 0), rgba(18, 18, 18, 1)),url(image/donation9.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    height: 910px;
    width: 1663px;
    padding-bottom: 10px;
}

#heading{
    color: white;
    position: absolute;
    font-size: 65px;
    text-align: center;
    font-weight: 400;
    width: 826px;
    height: 158px;
    left: 390px;
    top: 250px;
}
#p-head{
    color: white;
    position: absolute;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    line-height: 28px;
    width: 910px;
    height: 56px;
    left: 350px;
    top: 469px;
}
.donate-button{
    display: flex;
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    position: absolute;
    width: 160px;
    height: 56px;
    top: 580px;
    left: 700px;
    border-radius: 5px;
    padding-left: 50px;
    font-weight: 600;
    align-items: center;
}
.h2-mid{
    position: absolute;
    width: 304px;
    height: 54px;
    left: 630px;
    top: 1000px;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: black;
}
.p-mid{
    position: absolute;
    width: 691px;
    height: 56px;
    left: 450px;
    top: 1100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
#p2-mid{
    top: 1280px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.donation-amount1{
    position: absolute;
    width: 135px;
    height: 123px;
    left: 338px;
    top: 1380px;
    background: #FAFAFA;
    border-radius: 5px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #707070;
}
#donation-amount2{
    left: 552px;
    background: #FFEEEE;
    border: 2px solid rgb(192, 67, 67);
    
}
#donation-amount3{
    left: 714px;
}
#donation-amount4{
    left: 876px;
}
#donation-amount5{
    left: 1038px;
}
#other-amount{
    position: absolute;
    width: 765px;
    height: 56px;
    left: 415px;
    top: 1550px;
    text-align: center;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px; 
    border-bottom: 1px solid black;
}
#_2nd-button{
    top: 1650px;
}
#h2-mid-plan{
    width: 357px;
    top: 1800px;
}
#p-mid-2nd{
    top: 1900px;
}
.image-medic{
    width: 58.13px;
    height: 49.77px;
    padding-left: 20px;
    padding-top: 30px;
}
.donation-h3{
    width: 210px;
    height: 36px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding-left: 20px;
}
.donation-p{
    width: 315px;
    height: 101px;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
}
.donation-plan{
    position: absolute;
    width: 360px;
    height: 352px;
    border-radius: 10px;
    background-color: rgba(79, 157, 166, 0.1);
    left: 200px;
    top: 2000px;
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
#donation-plan-2{
    background-color: rgba(255, 89, 89, 0.1);
    left: 600px;
}
#donation-plan-3{
    background-color: rgba(251, 255, 1, 0.2);
    left: 1000px;
}